@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
.root {
    /*****Colors*******/
    --body-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: 1rem;
}


h1,
h2,
h3 {
    color: #F1F1F3;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Sidebar*/

.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #0A0A0F;
    border-right: 1px solid gray;
    z-index: 10000;
}

.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkred;
    text-align: center;
    margin: auto;
}

.nav_logo_text{
    font-size: 1.50rem;
    color: white;
    font-weight: 600;
    line-height: 40px;

}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu{
    display: flex;
}

.nav_list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: white;
    font-weight: 500;
    position: relative;
    font-size: 20px;


}

.nav_link.active_link, .nav_link:hover{
    color: red;
}

.nav_link.active_link::after, .nav_link:hover::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: darkred;
    border-radius: 50%;
    bottom: 1.25rem;
    left: 0;
    right: 0;
    
    margin: auto;

}

.btn_share{
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;

}
.social_share{
    font-size: 35px;
    color: white;
}
.social_share:hover{
    color: darkred;
}

/*Main*/

.main{
    margin-left: 100px;
    background-color: #101010;

}

.follow_me{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1.7rem;
    margin-left: 30px;
    color: white;

}
.divider{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 36px;
    left: 228px;
    margin-left: 8px;
    background-color: darkred;
    border-radius: 15px;

}
.follow_share{
    margin-left: 35px;
    display: inline-block;

}
.social_link{
    padding-left: 10px;
    color: gray;
}
.social_link:hover{
    color: darkred;
}

.intro{
    padding: 10px;
    color: white;
    height: 79vh;
}
.name{
    font-size: 60px;
}
.whoiam{
    font-size: 20px;
    line-height: 1.2;
}
.title{
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}
.desc{
    margin-bottom: 30px;
    font-weight: bold;
}
.home_main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*height: 680px;*/


}
.intro{
    display: inline-block;
    padding: 20px;
    margin-top: 160px;

}



.shape{
    position: absolute;
    top: 92px;
    bottom: 0px;
    right: 20px;
    height: 85vh;
    width: 650px;
}
.image{
    position: absolute;
    bottom: 15px;
    right: 20px;
    height: 93vh;
    width: 650px;
}



#morebutton{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
#morebutton:hover{
    background-color: #fcba03;
    color: black;
}

.my_share{

   display: flex;
}
.my_share_link{
    display: flex;
    position: absolute;
    bottom: 1.8rem;
    left: 120px;
}
.fp{
    padding-left: 30px;
}
.fbicons{
    font-size: 40px;
    color: #3b5998;
    padding-right: 5px;
}
.wpicons{
    font-size: 40px;
    color: #25D366;
    padding-right: 5px;
}
.emicons{
    font-size: 40px;
    color: red;
    padding-right: 5px;
}
.link_title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.link_link{
    text-decoration: none;
    color: white;
}

.divider_line{
    width: 6vw;
    height: 5px;
    border: none;
    background-color: red;
    margin-top: 5px;
}
.divider_line2{
    width: 3vw;
    height: 5px;
    border: none;
    background-color: red;
    margin-top: 5px;
}
.about_main{
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #191919;
}
.about_title{
    font-size: 75px;
}
.about_who{
    margin-top: 40px;
    font-size: 30px;
}
.about_desc{
    margin-top: 30px;
    font-size: 20px;
}
.about_web{
    color: yellow;
}
.my_details{
    display: inline-flex;
    margin-top: 50px;
}
.details3{
    padding-left: 100px;

}
.details1{
    padding-top: 20px;
    font-size: 20px;
}
.details2{
    font-weight: bold;
}
.btn{
    margin-top: -80px;
}
.download{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: red;
    border-radius: 25px;
    border: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}
.hire{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: red;
    border-radius: 25px;
    border: none;
    
    font-size: 20px;
    font-weight: bold;
}
.hr_line{
    width: 306px;
    margin-top: 10px;
}
.lang_details{
    margin-left: 200px;
    margin-top: 17px;
}
.lang_name{
    width: auto;
    display: flex;
    justify-content: space-between;
}
.hr_line1{
    width: 376px;
    margin-top: 10px;
    height: 8px;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}
.hr_line2{
    width: 274px;
    margin-top: 10px;
    height: 8px;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}
.hr_line3{
    width: 431px;
    margin-top: 10px;
    height: 6px;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}
.line{
    background-color: yellow;
    border: none;
    border-radius: 10px;
}
.lang_name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.lang{
    width: 450px;
}





.service{
    background: #101010;
    width: 100%;
    padding: 50px 60px;
    /*margin-top: 60px;*/
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}
h5{
    color: yellow;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color:red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s; 
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}




.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color:red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color:#f9004d;
    bottom: 35px;
    font-size: 14px; 
}